@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
<<<<<<< HEAD
  * {
    @apply box-border m-0 p-0;
  }
  body {
    @apply bg-gray-100 antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
=======
  body {
    @apply bg-gray-100 antialiased;
>>>>>>> 7b8e512 (feat: migrate to Tailwind CSS and update UI styling with gradients)
  }
}
